In [4]:
import sqlite3
import pandas as pd

Cargar el archivo CSV

In [5]:
file_path = 'archive/fifa_ranking-2024-04-04.csv'
df = pd.read_csv(file_path)

Mostrar las primeras filas del DataFrame para verificar los datos

In [6]:
df.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,83.0,Guatemala,GUA,15.0,0.0,83,CONCACAF,1992-12-31
1,32.0,Zambia,ZAM,38.0,0.0,32,CAF,1992-12-31
2,33.0,Portugal,POR,38.0,0.0,33,UEFA,1992-12-31
3,34.0,Austria,AUT,38.0,0.0,34,UEFA,1992-12-31
4,35.0,Colombia,COL,36.0,0.0,35,CONMEBOL,1992-12-31

Filtrar las columnas necesarias y mostrar las primeras filas

In [8]:
df_filtered = df[['country_full', 'country_abrv', 'confederation']]
df_filtered.head()

  country_full country_abrv confederation
0    Guatemala          GUA      CONCACAF
1       Zambia          ZAM           CAF
2     Portugal          POR          UEFA
3      Austria          AUT          UEFA
4     Colombia          COL      CONMEBOL

Insertar los datos en la tabla Country

In [10]:
insert_query = '''
INSERT INTO Country (name, abbreviation, confederation)
VALUES (?, ?, ?)
'''

Conectar a la base de datos SQLite

In [14]:
conn = sqlite3.connect('football_analysis.db')
cursor = conn.cursor()

Insertar los datos fila por fila

In [15]:
for index, row in df_filtered.iterrows():
    cursor.execute(insert_query, (row['name'], row['abbreviation'], row['confederation']))

KeyError: 'name'

Confirmar cambios y cerrar conexion

In [17]:
conn.commit()
conn.close()

ProgrammingError: Cannot operate on a closed database.